<h1>edit a post</h1>
<%= form_for( @post, url: posts_path(@post)) do |f| %>
    Title:
    <%= f.text_field :title, placeholder: "Title" %>
    <br />
    Description:
    <%= f.text_area :description, placeholder: "Description" %>
    <br />
    <%= f.submit "Update" %>
<% end %>