

      <div class="row">

        <div class="col-sm-8 blog-main">
        <% @posts.each do |post|%>

          <div class="blog-post">
            <h2 class="blog-post-title"><%= post.title %></h2>
            <p class="blog-post-meta"><%= l post.updated_at %> </p>
            <% post.categories.each do |category|%>
                <span class="label label-default"><%= category.name%></span>
            <% end %>

            <%= post.description %>
          </div><!-- /.blog-post -->
        

          <nav>
            <ul class="pager">
              <li> <%= link_to "Edit", edit_post_path(post)%></li>
              <li> <%= link_to "Delete", post_path(post), method: :delete %></li>
            </ul>
          </nav>
          <% end %>

        </div><!-- /.blog-main -->

       

      </div><!-- /.row -->